// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  /*colors that I can use: (gray) #484848; (black) #000000; see: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value*/
  /*This is from the code that I got on http://jsfiddle.net/geocodezip/7de0z99e/2/ */
  /*http://stackoverflow.com/questions/38569860/close-all-other-infowindows-when-one-is-clicked */
/*----------------------------*/

  /* body height was 100%, with no width, while everything else was 0% */
  /*html, 

  body {
    
    height: 100%;
    width: 100%;
    margin: 30;
    padding: 30;
  }
  */
  header{
    margin-bottom: 15%;
  }

  #map_canvas {
    height: 85%;
    width: 90%;
    margin: 20px;/*Was 0px*/
    padding: 10px
  }

  #map {
    height: 80%;
    width: 90%;
  }

  #button{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:15%; 
    left:50%;
    bottom:15%;
  }

  #form {
    /*width: 50%;*/
    margin: 0 auto;
    align: "center";
    padding:0 5%;
  }

  #div{
    text-align:center;
  }

  header{
    margin-bottom: 5%;
  }


  
  h2{
    color : black;
    text-align:"center";
  } 

  body
  {
    background-color : "white";
  }

  h1{
    color : black;
    text-align : center;
    font-family: "SIMPSON";
  }
