// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  /*colors that I can use: (gray) #484848; (black) #000000; see: https://developer.mozilla.org/en-US/docs/Web/CSS/color_value*/
  #map {
    height: 90%;
    width: 90%;
  }
  #form {
    width: 600px;
    margin: 0 auto;
    align: "center";
  }
  h2{
    color : black;
    text-align:"center";
  } 
  body
  {
    background-color : #fffacd;
  }
  h1
  {
    color : black;
    text-align : center;
    font-family: "SIMPSON";
  }
  html, body {
  	/* height was 100%, with no width, while everything else was 0% */
    height: 100%;
    margin: 30;
    padding: 30;
  }

  /*table {
    margin: 0 auto;
  }
  table td {
    padding-bottom: 5px;
  }
  form {
    width: 300px;
    margin: 0 auto;
    align:"center";
  } */