	/*----------------------------*/
	/* Begin Popup CSS Code */
	/* http://www.websitecodetutorials.com/code/photo-galleries/css-popup-image.php */

	#thumbwrap {
		margin:75px auto;
		width:252px; height:252px;
	}
	.thumb {
		float:left; /* must be floated for same cross browser position of larger image */
		position:relative;
		margin:3px;
	}
	.thumb img { 
		border:1px solid #000;
		vertical-align:bottom;
	}
	.thumb:hover {
		border:0; /* IE6 needs this to show large image */
		z-index:1;
	}
	.thumb span { 
		position:absolute;
		visibility:hidden;
	}
	.thumb:hover span { 
		visibility:visible;
		top:37px; left:37px; 
	}
	/* End Popup Code */
	/*----------------------------*/

	.color_text{
		font-family: Arial, sans-serif;
		color: #040404;
		/* margin: 90px; */
	}
	/*----------------------------*/
	/* Bootstrap Navbar CSS for sites/show.html.erb */	

	.navbar-default{
	  background: transparent;
	  border:none;
	}
	.navbar-default .navbar-nav > li > a {
	  color: #73152D;
	  font-size: 200%;
	}
	.container-fluid{
	  padding:0 5%;
	}
	.btn{
	  margin-top:0px;
	  color: "blue";
	}
	.btn-primary {
    	background: #0099cc;
    	color: #ffffff;
	}

	/*----------------------------*/
	/* Enlarge image on mouseover */

	.enlarge-onhover {
	     width: 142px;
	     /*height: 142px;*/
	}

	.enlarge-onhover:hover {
	     width: 400px;
	     /*height: 375px;*/
	}
	/*----------------------------*/
	/* Background image on landing page sites/new.html.erb*/

	body, html {
	    height: 100%;
	}

	.bg { 
	    /* The image used */
	    background-image: url("http://www.old-maps.com/NY/ny-state/NY_1812_Arrowsmith-web.jpg");
	    /* Other images */
	    /* http://tile.loc.gov/image-services/iiif/service:gmd:gmd380:g3800:g3800:ar104703/full/pct:12.5/0/default.jpg */
	    /* http://www.old-maps.com/NY/ny-state/NY_1812_Arrowsmith-web.jpg */
	    /* http://www.stonybrook.edu/libmap/img005b.jpg */

	    /* Full height */
	    height: 130%;
	    width: 130%;
	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}


	/*----------------------------*/
	/*----------------------------*/
