	
	
	/*----------------------------*/
	/* Begin Sidebar CSS Code */
	/* http://www.websitecodetutorials.com/code/photo-galleries/css-popup-image.php */
	/*----------------------------*/
	/*----------------------------*/
	/* Side bar CSS code */
	/* Sidebar Styles */
/*	.container-fluid,
	.row,
	.col-lg-12 {
	  height: 100%;
	  width: 100%;
	}*/

	/* hamburger menu pseudo element */

/*	.box-shadow-menu {
	  position: relative;
	  padding-left: 1.25em;
	}
	.box-shadow-menu:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0.25em;
	  width: 1em;
	  height: 0.15em;
	  background: black;
	  box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black;
	}*/
	/* hamburger menu pseudo element gradient */

/*	.gradient-menu {
	  padding-left: 1.25em;
	  position: relative;
	}
	.gradient-menu:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0.21em;
	  bottom: 0.21em;
	  width: 1em;
	  background: linear-gradient(to bottom, black, black 20%, white 20%, white 40%, black 40%, black 60%, white 60%, white 80%, black 80%, black 100%);
	}*/
	/* Sidebar Styles */

/*	.sidebar-nav {
	  position: absolute;
	  top: 0;
	  width: 250px;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	.sidebar-nav li {
	  text-indent: 20px;
	  line-height: 40px;
	}
	.sidebar-nav li a {
	  display: block;
	  text-decoration: none;
	  color: #999999;
	}
	.sidebar-nav li a:hover {
	  text-decoration: none;
	  color: #fff;
	  background: rgba(255, 255, 255, 0.2);
	}
	.sidebar-nav li a:active,
	.sidebar-nav li a:focus {
	  text-decoration: none;
	}
	.sidebar-nav > .sidebar-brand {
	  height: 65px;
	  font-size: 18px;
	  line-height: 60px;
	}
	.sidebar-nav > .sidebar-brand a {
	  color: #999999;
	}
	.sidebar-nav > .sidebar-brand a:hover {
	  color: #fff;
	  background: none;
	}*/
	/* http://www.jqueryscript.net/demo/Bootstrap-Sidebar-Extension-With-jQuery-CSS-CSS3/ */

	/*!
	 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
	 * Code licensed under the Apache License v2.0.
	 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
	 */

	/* Toggle Styles */

/*	.nav-tabs>li {
	  float: none;
	}
	.nav-tabs {
	  border-bottom: 0;
	}
	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:focus,
	.nav-tabs>li.active>a:hover {
	  margin: 0;
	  border-radius: 0;
	}*/


	/* End Sidebar Code */
	/*----------------------------*/
	/*----------------------------*/
	/*----------------------------*/
	/*----------------------------*/
	.color_text{
		font-family: Arial, sans-serif;
		color: #040404;
		/* margin: 90px; */
	}
	/*----------------------------*/
	/* Bootstrap Navbar CSS for sites/show.html.erb */	

	.navbar-default{
	  background: transparent;
	  border:none;
	}
	.navbar-default .navbar-nav > li > a {
	  color: #73152D;
	  font-size: 200%;
	}
	.container-fluid{
	  padding:0 5%;
	}
	.btn{
	  margin-top:0px;
	  color: "blue";
	}
	.btn-primary {
    	background: #0099cc;
    	color: #ffffff;
	}

	/*----------------------------*/
	/* Enlarge image on mouseover */

	.enlarge-onhover {
	     width: 142px;
	     /*height: 142px;*/
	}

	.enlarge-onhover:hover {
	     width: 400px;
	     /*height: 375px;*/
	}
	/*----------------------------*/
	/* Background image on landing page sites/new.html.erb*/

	body, html {
	    height: 100%;
	}

	.bg { 
	    /* The image used */
	    /*background-image: url("http://www.old-maps.com/NY/ny-state/NY_1812_Arrowsmith-web.jpg");*/
	    /*background-image: url('/new_york_state_1796.jpg');*/
	    /*background-image: url('/NY_1849_Ensign_Thayer.jpg');*/
	    background-image: url('/15636975_copy.jpg');
	    /* Other images */
	    /* background-image: url('/15636975_copy_01.jpg'); */ 
	    /* http://tile.loc.gov/image-services/iiif/service:gmd:gmd380:g3800:g3800:ar104703/full/pct:12.5/0/default.jpg */
	    /* http://www.old-maps.com/NY/ny-state/NY_1812_Arrowsmith-web.jpg */
	    /* http://www.stonybrook.edu/libmap/img005b.jpg */

	    /* Full height */
	    height: 100%;
	    width: 100%;
	    /* Center and scale the image nicely */
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}


	/*----------------------------*/
	/*----------------------------*/
