	.navbar-default{
	  background: transparent;
	  border:none;
	}
	.navbar-default .navbar-nav > li > a {
	  color: #73152D;
	  font-size: 200%;
	}
	.container-fluid{
	  padding:0 5%;
	}
	.btn{
	  margin-top:0px;
	  color: "blue";
	}
	.btn-primary {
    	background: #0099cc;
    	color: #ffffff;
	}