<h2> Welcome to new.html.erb </h2>
<!-- This page form needs to direct info to the center point controller new-action, which should then direct to the show page! -->
<%= form_tag '/sites', method: :post do  %>

  <div id="app">
    <p>Your Destination Address:</p>
    <p><input type="text" name="search_address"></p>
  	<input type="submit" value="Let's Find Some Historical Sites Nearby!">
  </div>

<% end %>